@keyframes show {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
    }
}
@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
@keyframes drop {
    0% {
        top:-1220px;
    }
    100% {
        top:-40px;
    }
}
@keyframes dropUp {
    0% {
        
        top:-40px;
    }
    100% {
        top:-1220px;
    }
}
@keyframes dropCards {
    0% {
        top:-1220px;
    }
    100% {
        top:0px;
    }
}
.container {
    width: 980px;
    height: 680px;
    position: relative;
    margin: auto;
    border: 40px solid black;
    border-radius: 40px;
    background-image: url(img/main-bg.jpg);
    top: 35px;
    /* box-shadow: 10px 10px 415px 1px black; */
}
.card {
    position: absolute;
    width: 173px;
    height: 257px;
    border-radius: 11px;
    background-color: white;
    left: 700px;
    top: 200px;
    cursor: pointer;
}
.cardFlopped {
    position: absolute;
    width: 173px;
    height: 257px;
    border-radius: 11px;
    background-color: white;
    box-shadow: 10px 10px 15px 0px black;
    transition: all 1s ease-in-out;
    left: 700px;
    top: 200px;
}
.container > p {
    position: absolute;
    left: 40px;
    color: white;
    font-size: 48px;
    font-weight: 900;
    text-shadow: 10px 10px 5px black;
}
.cardImg {
    width: 175px;
    height: 259px;
}
.pass {
    position: absolute;
    top: 600px;
    left: 835px;
    height: 40px;
    width: 100px;
    background-color: green;
    box-shadow: -6px -6px 8px 2px rgb(10,12,0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
	border: solid 12px rgb(45,45,45);
}
.pass:hover {
    box-shadow: none;
    top:598px;
    left:833px;
}
#userScore{
    top: 530px;
}
.overlay {
    background:black;
    display:block;
    position: fixed;
    width: 1150%;
    height: 1000%;
    left: -1800px;
    top: -1500px;
    z-index:1000;
}
.fail {
    position: fixed;
    top: 300px;
    left: 50%;
    margin-left: -400px;
    height: 100px;
    width: 800px;
    z-index: 1001;
    display: none;
    border: solid 20px rgb(45,45,45);
    background: #207cca;
    text-align: center;
    color: white;
    animation: show 1s ease-in-out;
}

.blur {
    filter: blur(4px);
}

.failButton {
    margin: auto;
    height: 40px;
    width: 200px;
    background-color: #EAFF9F;
    box-shadow: none;
    display: none;
    cursor: pointer;
}

.failButton:hover {
    background-color: #f2ff00;

}

.failButton>p {
    margin-top: 8px;
    padding: 0;
    color: black;
    font-weight: bold;
    font-size: 26px;
}
.start-form {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 740px;
    z-index: 1001;
    background: linear-gradient(to right, grey 0%, darkgrey 100%);
    border: solid 20px rgb(45,45,45);
    border-radius: 10px;
    text-align: center;
    color: white;
    animation: drop 1s ease-in-out;
}
.card-group {
    position: relative;
    height: 320px;
    margin-top: 100px;
}
.start-form img {
    width: 173px;
    height: 257px;
    position: absolute;
    border-radius: 16px;
    /* top: -960px; */
    animation: dropCards 2s ease-in-out;
}
.start-form h1 {
    font-size: 2.5rem;
}
.start-form > p {
    font-size: 22px;
}
.beginImg2 {
    box-shadow: 10px 10px 15px 1px black;
    transform: rotate(10deg);
}
.beginImg1 {
    left:150px;
    box-shadow: 10px 10px 15px 1px black;
    transform: rotate(-10deg);
}
.start {
    margin: auto;
    height: 90px;
    width: 400px;
    background-color: #f2ff00;
    box-shadow: 6px 6px 8px 0px #666000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-bottom: solid 2px #BFD100;
    border-right: solid 2px #BFD100;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.7;
}
.start:hover {
    opacity: 1;
}
.start > p {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: bold;
    font-size: 50px;
}
