a {
    text-decoration: none;
    background-color: white;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    color: #000;
    font-weight: bold;
}
a:hover {
    opacity: 0.7;
    transform: scale(1.2);
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
li {
    width: 65%;
}
.container {
    width: 351px;
    background-color: #fbf2e9;
    height: 136px;
    position: absolute;
    top: 25%;
    left: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader-container {
    height: 37px;
    width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
}
.container button {
    height: 37px;
    width: 300px;
    margin-top: 16px;
    font-size: 15px;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(180deg, #f5f5f5 0%, #e1e1e1 100%);
    cursor: pointer;
}
.container button:hover {
    background:linear-gradient(0deg, #f5f5f5 0%, #e1e1e1 100%);
}
.loader {
    background-color: #008a8a;
    width: 0;
    height: 100%;
}